<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель инструктора | ExDriving School</title>
    <!-- css стили, бутстрап, javascript скрипты -->
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link th:href="@{/css/instructor.css}" rel="stylesheet" />
    <link th:href="@{/css/tabs.css}" rel="stylesheet" />
    <script type="text/javascript"
            src="webjars/jquery/3.0.0/jquery.min.js"></script>

    <script type="text/javascript" th:src="@{/js/client/clientTabs.js}"></script>
    <script type="text/javascript" th:src="@{/js/instructor/getBasicInfo.js}"></script>
    <script type="text/javascript" th:src="@{/js/instructor/getClientsList.js}"></script>
    <script type="text/javascript" th:src="@{/js/instructor/getLessons.js}"></script>
    <script type="text/javascript" th:src="@{/js/instructor/createLesson.js}"></script>
    <script type="text/javascript" th:src="@{/js/instructor/markAdd.js}"></script>
</head>
<body>
<div class="container">
    <!-------------------------------------- Базовая информация об инструкторе ------------------------------------->
    <div class="row basic_info text-center">
        <div class="col basic_info_block">
            <div class="basic_info_item">
                Здравствуйте, <span id="instructorName" class="basic_info_data"></span>
            </div>

            <div class="basic_info_item">
                Ваша машина: <br> <span id="instructorCar" class="basic_info_data"></span>
            </div>

            <div class="basic_info_item">
                Ваши ученики: <br> <span id="studentsCount" class="basic_info_data"></span>
            </div>
        </div>
    </div>

    <!------------------------------------ Кнопки переключения между вкладками ----------------------------------->
    <div class="row mt-4">
        <div class="tab">
            <button id="LessonTab" class="tablinks" onclick="openTab(event, 'Lessons')">Расписание занятий</button>
            <button id="MarksTab" class="tablinks" onclick="openTab(event, 'MarksToLessons')">Проставление оценок</button>
            <button id="CreateLessonTab" class="tablinks" onclick="openTab(event, 'LessonCreation')">Добавление занятия</button>
            <button class="tablinks" onclick="openTab(event, 'ClientsList')">Список клиентов</button>
        </div>
    </div>


    <!-- Вкладки, между которыми может переключаться пользователь -->

    <!-------------------------------------- Вкладка "Расписание занятий" ------------------------------------->
    <div id="Lessons" class="tabcontent">
        <div id="LessonsBlock" class="lesson_block d-flex mt-2" >

        </div>
    </div>

    <!-------------------------------------- Вкладка "Оценки за занятия" ------------------------------------->
    <div id="MarksToLessons" class="tabcontent">
        <div class="row form-group">
            <div class="col">
                <label for="LessonToMark">Занятие</label>
                <select class="form-control" id="LessonToMark">

                </select>
            </div>
            <div class="col">
                <label for="StudentForMark">Студент</label>
                <select class="form-control" id="StudentForMark">

                </select>
            </div>
            <div class="col">
                <label for="Mark">Оценка:</label>
                <select class="form-control" id="Mark">
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <button onclick ="addMark(this);" class="create_lesson_button">Поставить оценку</button>

        </div>

        <div id="AddMarkSuccess" class="create_lesson_success">
            Оценка поставлена/изменена успешно.
        </div>

        <div id="AddMarkFault" class="create_lesson_fault">
            Ошибка, вы пытаетесь поставить слишком много оценок за занятие.
        </div>
    </div>

    <!-------------------------------------- Вкладка "Добавление занятия" ------------------------------------->
    <div id="LessonCreation" class="tabcontent">
        <div class="row form-group">
            <div class="col">
                <label for="LessonDate">Дата занятия:</label>
                <select class="form-control" id="LessonDate">

                </select>
            </div>
            <div class="col">
                <label for="LessonTime">Время занятия:</label>
                <select class="form-control" id="LessonTime">
                    <option>10:00</option>
                    <option>11:00</option>
                    <option>12:00</option>
                    <option>14:00</option>
                    <option>15:00</option>
                    <option>16:00</option>
                    <option>17:00</option>
                    <option>18:00</option>
                </select>
            </div>
            <div class="col">
                <label for="LessonPlace">Место занятия:</label>
                <select class="form-control" id="LessonPlace">

                </select>
            </div>
            <div class="col">
                <label for="LessonStudentsLimit">Лимит учеников:</label>
                <select class="form-control" id="LessonStudentsLimit">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <button onclick ="createLesson(this);" class="create_lesson_button">Создать занятие</button>

        </div>

        <div id="CreateLessonSuccess" class="create_lesson_success">
            Занятие создано успешно!
        </div>

        <div id="CreateLessonFault" class="create_lesson_fault">
            Произошла ошибка. Возможно у вас уже есть занятие на это время, проверьте введенные данные и попробуйте снова!
        </div>
    </div>

    <!-------------------------------------- Вкладка "Список клиентов" ------------------------------------->
    <div id="ClientsList" class="tabcontent">
        <div class="row mt-4">
            <div id="clientListBlock" class="col client_list_block">
                <div class="row text-center client_list_line">
                    <div class="col client_list_line_item">
                        <span style="font-weight: bold">Имя Фамилия</span>
                    </div>
                    <div class="col client_list_line_item">
                        <span style="font-weight: bold">Оставшиеся часы</span>
                    </div>
                    <div class="col client_list_line_item">
                        <span style="font-weight: bold">Записан на занятие</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- открывает вкладку Lessons при загрузке страницы -->
<script th:inline="javascript">document.getElementById("LessonTab").click()</script>
</body>
</html>