/* Базовая информация*/
.basic_info_block {
    background-color: #65c1ff;
    border-radius: 15px;
    box-shadow: 0.1em 0.2em 5px rgba(122,122,122,0.5);
    padding: 15px 0;
}

.basic_info_item {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 1.8em;
    font-family: Open Sans, Arial, sans-serif;

}

.basic_info_data {
    font-weight: bold;
    color: black;
    background: rgba(0,0,0, 0.1);
    padding: 3px 6px;
    border-radius: 10px;
}

/* список клиентов */


.client_list_line {
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 15px;
}
.client_list_line_item {
    background: #65c1ff;
    padding: 10px 5px;
    border-radius: 15px 0 0 15px;
    border-right: 1px solid black;
}
.client_list_line_item:nth-child(2) {
    border-radius: 0;
}
.client_list_line_item:last-child {
    border-radius: 0 15px 15px 0;
    border-right: 0;
}

.client_list_block {
    background: #a5e4fd;
    padding: 45px;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: -0.1em 0.1em 10px rgba(122,122,122,0.5);
    overflow-y: auto;
    max-height: 500px;
}

/* список занятий */
.lesson_block {
    flex-flow: row wrap;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: 0.1em 0.1em 10px rgba(122,122,122,0.5);
    padding: 20px 10px;
}

.lesson_item {
    padding: 30px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    background: #a5e4fd;
    border-radius: 15px;
    box-shadow: 0.1em 0.1em 15px rgba(122,122,122,0.5);
    width: 30%;
    margin-bottom: 30px;
}

.lesson_item_line {
    line-height: 2;
    margin-bottom: 5px;
}
.lesson_item_line_students {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    background: #9bdbf6;
    box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.5);
    height: 100px;
    overflow-y: auto;
}

.lesson_item_line_students_item {
    font-weight: bold;
}

/* Создание занятия */
.create_lesson_button {
    background: #a5e4fd;
    border: 1px solid #65c1ff;
    padding: 10px 15px;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(122,122,122,0.5);
    align-self: flex-end;
}

.create_lesson_button:hover {
    background: #94dafc;

}
.create_lesson_button:active {
    background: #fcc810;
}

.create_lesson_button:focus {
    outline: none;
}

.form-control {
    box-shadow: 2px 2px 5px rgba(122,122,122,0.5);
}



.form-group {
    background: #65c1ff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.5);

}


.create_lesson_success {
    display: none;
    background: #41cb4a;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.5);
    text-align: center;


}

.create_lesson_fault {
    display: none;
    background: #f84040;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.5);
    text-align: center;
    margin-top: 50px;
}